@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #1f395b;
}

body {
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}
.error {
  display: flex;
  transform: translateY(-2rem);
  color: red;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1a1a41;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  flex: 1;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  width: 300px;
  color: white;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa-trash-can,
.fa-pen-to-square {
  margin: 0.5rem;
  cursor: pointer;
}


.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #ffffff80;
  text-decoration: line-through;
  cursor: pointer;
}
.incompleted::before{
  content: "";
  display: inline-block;
  position: relative;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  margin-right: 10px;
}

.completed::before {
  content: "";
  display: inline-block;
  position: relative;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  margin-right: 10px;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
